In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\netflix_titles.csv")

In [4]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [7]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [8]:
df.shape

(8807, 12)

In [9]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
df.nunique()

show_id         8807
type               2
title           8807
director        4528
cast            7692
country          748
date_added      1767
release_year      74
rating            17
duration         220
listed_in        514
description     8775
dtype: int64

In [11]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

In [12]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [13]:
df1 = df.drop(['show_id','date_added','listed_in','description'], axis=1)

In [14]:
df1.head()

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons

column types

* Numerical - release_year
* Categorical - type
* mixed - title, director, cast, country, rating, duration

In [15]:
df1['release_year'].unique()

array([2020, 2021, 1993, 2018, 1996, 1998, 1997, 2010, 2013, 2017, 1975,
       1978, 1983, 1987, 2012, 2001, 2014, 2002, 2003, 2004, 2011, 2008,
       2009, 2007, 2005, 2006, 1994, 2015, 2019, 2016, 1982, 1989, 1990,
       1991, 1999, 1986, 1992, 1984, 1980, 1961, 2000, 1995, 1985, 1976,
       1959, 1988, 1981, 1972, 1964, 1945, 1954, 1979, 1958, 1956, 1963,
       1970, 1973, 1925, 1974, 1960, 1966, 1971, 1962, 1969, 1977, 1967,
       1968, 1965, 1946, 1942, 1955, 1944, 1947, 1943], dtype=int64)

In [16]:
df2 = df1.fillna(' ')

In [17]:
df2.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
release_year    0
rating          0
duration        0
dtype: int64

In [18]:
 shows = df2.groupby('type')
shows

In [19]:
for type, type_df in shows:
    print(type)
    print(type_df)

Movie
       type                             title                       director  \
0     Movie              Dick Johnson Is Dead                Kirsten Johnson
6     Movie  My Little Pony: A New Generation  Robert Cullen, José Luis Ucha
7     Movie                           Sankofa                   Haile Gerima
9     Movie                      The Starling                 Theodore Melfi
12    Movie                      Je Suis Karl            Christian Schwochow
...     ...                               ...                            ...
8801  Movie                           Zinzana                Majid Al Ansari
8802  Movie                            Zodiac                  David Fincher
8804  Movie                        Zombieland                Ruben Fleischer
8805  Movie                              Zoom                   Peter Hewitt
8806  Movie                            Zubaan                    Mozez Singh

                                                   cast  \
0
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country  release_year rating  \
0                                         United States          2020  PG-13
6                                                                2021     PG
7     United States, Ghana, Burkina Faso, United Kin...          1993  TV-MA
9                                         United States          2021  PG-13
12                              Germany, Czech Republic          2021  TV-MA
...                                                 ...           ...    ...
8801                       United Arab Emirates, Jordan          2015  TV-MA
8802                                      United States          2007      R
8804                                      United States          2009      R
8805                                      United States          2006     PG
8806                                              India          2015  TV-14

     duration
0      90 min
6      91 min
7     125 min
9     104 min
12    127 min
...       ...
8801   96 min
8802  158 min
8804   88 min
8805   88 min
8806  111 min

[6131 rows x 8 columns]
TV Show
         type                  title         director  \
1     TV Show          Blood & Water
2     TV Show              Ganglands  Julien Leclercq
3     TV Show  Jailbirds New Orleans
4     TV Show           Kota Factory
5     TV Show          Midnight Mass    Mike Flanagan
...       ...                    ...              ...
8795  TV Show        Yu-Gi-Oh! Arc-V
8796  TV Show             Yunus Emre
8797  TV Show              Zak Storm
8800  TV Show     Zindagi Gulzar Hai
8803  TV Show            Zombie Dumb

                                                   cast  \
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
...                                                 ...
8795  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
8796  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
8797  Michael Johnston, Jessica Gee-George, Christin...
8800  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
8803

                                            country  release_year rating  \
1                                      South Africa          2021  TV-MA
2                                                            2021  TV-MA
3                                                            2021  TV-MA
4                                             India          2021  TV-MA
5                                                            2021  TV-MA
...                                             ...           ...    ...
8795                                  Japan, Canada          2015  TV-Y7
8796                                         Turkey          2016  TV-PG
8797  United States, France, South Korea, Indonesia          2016  TV-Y7
8800                                       Pakistan          2012  TV-PG
8803                                                         2018  TV-Y7

       duration
1     2 Seasons
2      1 Season
3      1 Season
4     2 Seasons
5      1 Season
...         ...
8795  2 Seasons
8796  2 Seasons
8797  3 Seasons
8800   1 Season
8803  2 Seasons

[2676 rows x 8 columns]

In [20]:
movies = shows.get_group('Movie')
movies

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,2020,PG-13,90 min
6,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",,2021,PG,91 min
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min
12,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min
...,...,...,...,...,...,...,...,...
8801,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2015,TV-MA,96 min
8802,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2007,R,158 min
8804,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min

In [21]:
TV_show = shows.get_group('TV Show')
TV_show

,type,title,director,cast,country,release_year,rating,duration
1,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,,,,2021,TV-MA,1 Season
4,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",,2021,TV-MA,1 Season
...,...,...,...,...,...,...,...,...
8795,TV Show,Yu-Gi-Oh! Arc-V,,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2015,TV-Y7,2 Seasons
8796,TV Show,Yunus Emre,,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2016,TV-PG,2 Seasons
8797,TV Show,Zak Storm,,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2016,TV-Y7,3 Seasons
8800,TV Show,Zindagi Gulzar Hai,,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2012,TV-PG,1 Season
8803,TV Show,Zombie Dumb,,,,2018,TV-Y7,2 Seasons

In [22]:
df3 = pd.concat([movies, TV_show])

In [23]:
df3.head()

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,2020,PG-13,90 min
6,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",,2021,PG,91 min
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min
12,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min

In [24]:
df3.tail()

,type,title,director,cast,country,release_year,rating,duration
8795,TV Show,Yu-Gi-Oh! Arc-V,,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2015,TV-Y7,2 Seasons
8796,TV Show,Yunus Emre,,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2016,TV-PG,2 Seasons
8797,TV Show,Zak Storm,,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2016,TV-Y7,3 Seasons
8800,TV Show,Zindagi Gulzar Hai,,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2012,TV-PG,1 Season
8803,TV Show,Zombie Dumb,,,,2018,TV-Y7,2 Seasons

# Questions

# 1.Indian movies released in year 2000

In [41]:
Indian_movies = df3[(df3['release_year']==2000) & (df3['country']=='India')&(df3['type']=='Movie')][['title', 'release_year']]

In [42]:
Indian_movies

                            title  release_year
4723                         Fiza          2000
4956  Phir Bhi Dil Hai Hindustani          2000
6440               Chal Mere Bhai          2000
6912    Hamara Dil Aapke Paas Hai          2000
7247                    Kya Kehna          2000
7702               Papa the Great          2000
7801                        Pukar          2000

In [28]:
Indian_movies.to_list()[1]

'Phir Bhi Dil Hai Hindustani'

# 2.Top 5 Directors who has directed more number of TV_Shows or Movies

In [46]:
df3['director'].value_counts()[0:5]

                          2634
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Marcus Raboy                16
Suhas Kadav                 16
Name: director, dtype: int64

# 3. Cast of any particular movie

In [30]:
df3[df3['title']=='The Starling'] ['cast'].to_list()

["Melissa McCarthy, Chris O'Dowd, Kevin Kline, Timothy Olyphant, Daveed Diggs, Skyler Gisondo, Laura Harrier, Rosalind Chao, Kimberly Quinn, Loretta Devine, Ravi Kapoor"]

# 4. How many Movies & TV Shows are in the dataset?

In [31]:
len(movies)

6131

In [32]:
len(TV_show)

2676

# 5. show only titles of all TV Shows that released in Egypt

In [47]:
TV_show[TV_show['country']=='Egypt'][['title', 'country']]

                         title country
1201  Abla Fahita: Drama Queen   Egypt
1229                    My Way   Egypt
1570          Once Upon a Time   Egypt
1658                 Valentino   Egypt
1737                Paranormal   Egypt
4022               More to Say   Egypt
4023     The Land of Hypocrisy   Egypt
4026            Eugenie Nights   Egypt
4027              This Evening   Egypt
4030             Disappearance   Egypt
4125  The Last of the Schmucks   Egypt
4126             Hidden Worlds   Egypt
4130                     Tayee   Egypt
4984        Secret of the Nile   Egypt

# 6. In how many Movies and TV shows , duration was 100 minute

In [34]:
df3[df3['duration'] == '100 min'][['type','title','duration']]

       type                                              title duration
54    Movie  InuYasha the Movie: Affections Touching Across...  100 min
140   Movie                El patrón, radiografía de un crimen  100 min
300   Movie                                               Vivo  100 min
455   Movie               Emicida: AmarElo - Live in São Paulo  100 min
461   Movie                                  The Unknown Saint  100 min
...     ...                                                ...      ...
8562  Movie                                The Women's Balcony  100 min
8622  Movie                             Tremors 2: Aftershocks  100 min
8627  Movie                                Trespass Against Us  100 min
8745  Movie                Willy Wonka & the Chocolate Factory  100 min
8750  Movie                                      Winter's Bone  100 min

[108 rows x 3 columns]

# EDA

# 1. Total Number of Indian TV Shows released every year.

In [51]:
Total_number = TV_show[TV_show['country'] == 'India']
Total_number['release_year'].value_counts()

2020    16
2019    13
2018    13
2021     9
2015     9
2014     5
2017     3
2013     3
2010     3
2012     2
2009     1
2011     1
2016     1
Name: release_year, dtype: int64

# 2. Number of TV Shows and Movies released every year World Wide.

In [36]:
total_number_movies = movies['release_year'].value_counts()
total_number_movies

2017    767
2018    767
2016    658
2019    633
2020    517
       ...
1966      1
1961      1
1946      1
1963      1
1947      1
Name: release_year, Length: 73, dtype: int64

In [37]:
total_number_TV_show = TV_show['release_year'].value_counts()
total_number_TV_show

2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
1993      4
2000      4
1997      4
1998      4
1990      3
1996      3
1992      3
1995      2
1994      2
1988      2
1986      2
1989      1
1967      1
1985      1
1946      1
1981      1
1972      1
1979      1
1977      1
1991      1
1974      1
1925      1
1945      1
1963      1
Name: release_year, dtype: int64

# 3. Number of Movies Released in every Rating Category.

In [38]:
movies['rating'].value_counts()

TV-MA       2062
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            75
G             41
TV-Y7-FV       5
NC-17          3
UR             3
               2
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

# 4. Which Country has the heighest no of TV Shows.

In [39]:
TV_show['country'].value_counts()

United States                                    760
                                                 391
United Kingdom                                   213
Japan                                            169
South Korea                                      158
                                                ...
Belarus                                            1
United Kingdom, Australia                          1
France, Australia, Germany                         1
Australia, New Zealand, United States              1
United States, France, South Korea, Indonesia      1
Name: country, Length: 197, dtype: int64